[submodule "clucene"]
	path = clucene
	url = git@github.com:Blue-Rocket/clucene.git
	branch = feature/cocoapods
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
	branch = master
